.navbar {
  display: flex;
  justify-content: space-between; // Оставили space-between для разделения лого и правой части
  align-items: center;
  padding: 10px 20px;
}

.navbar_logo img {
  width: 220px;
  padding-left: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px; // Добавили промежуток между элементами правой части
}

.position-navbar {
  width: 20%;
  max-width: 200px;
  min-width: 120px;
  text-align: center;
  border-bottom: 1px solid red;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  font-size: 23px;
  cursor: pointer;
}

.role {
  font-weight: bold;
  font-size: 23px;
}

.email {
  font-size: 16px;
  color: gray;
}

.admin-button {
  background-color: #ff4d4d;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.admin-button:hover {
  background-color: #cc0000;
}

.logout-button {
  background-color: #666;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.logout-button:hover {
  background-color: #444;
}
